html, body
{
  height: 100%;
}

.container{
	width: 100% !important;
	padding: 0px !important;
}

.navbar{
	margin-bottom: 0px !important;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: white !important;
}

.navbar-collapse{	
	background-color: white;
}

#notif-button{
	opacity: .5;
	margin-top: 5px;
}

#notif-button:hover{
	opacity: .8;
}

.nav-justified{
	text-transform: uppercase;	
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

.nav-justified li a{
	color: grey;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .7;
	font-weight: 400;
}

.nav-justified li a:hover{
	background-color: rgba(57,70,78,0) !important;
	opacity: 1;
	border-bottom: 3px solid #ccc;	
	border-radius: 0px !important;
}

.nav-pills > li.active > a{
	background-color: rgba(0,0,0,.0) !important;
	color: grey !important;
	border-bottom: 3px solid #232939;
	border-radius: 0px !important;
	opacity: 1;
	font-weight: 600;
}

.row{
	width: 95%;
	margin: 0px auto !important;
	padding: 0px !important;
}

.user-add-table {
	padding: 0px !important;
	width: 100%;
	border-collapse:separate;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: white;
}

.user-add-table table{
	width: 70%;
}

.table-header{
	background-color: #e5e5e5;
	color: grey;
	text-align: left;
	font-size: 16px;
	padding: 15px 20px;
}

.user-add-table tr td{
	text-align: left;
	padding: 10px 10px;
	color: grey;
}

.user-label{
	width: 300px;
}

.user-label-wrap{
	text-align: right;
	margin-top: -3px;
}

.user-data{
	width: 400px;
}

.user-data-input{
	width: 100%;
	border: 1px solid #ddd;
	height: 30px;
}

.user-data-select{
	width: 100%;
	border: 1px solid #ddd;
	height: 30px;
}

.user-data-textarea{
	width: 100%;
	resize: none;
	border: 1px solid #ddd;
	height: 70px;
}

.user-data-input:focus{
	border: 1px solid #aaa;
	background-color: #F6F6F6;
}


.buttonsrow{
	float: right;
}

.buttonsrow button{
	padding: 10px 30px;
	margin: 5px;
}