.navbar{
	margin-bottom: 0px !important;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: white !important;
}

.navbar-collapse{	
	background-color: white;
}

#notif-button{
	opacity: .5;
	margin-top: 5px;
}

#notif-button:hover{
	opacity: .8;
}

.nav-justified{
	text-transform: uppercase;	
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

.nav-justified li a{
	color: grey;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .7;
	font-weight: 400;
}

.nav-justified li a:hover{
	background-color: rgba(57,70,78,0) !important;
	opacity: 1;
	border-bottom: 3px solid #ccc;	
	border-radius: 0px !important;
}

.nav-pills > li.active > a{
	background-color: rgba(0,0,0,.0) !important;
	color: grey !important;
	border-bottom: 3px solid #232939;
	border-radius: 0px !important;
	opacity: 1;
	font-weight: 600;
}

.row{
	width: 98%;
	margin: 0px auto !important;
	padding: 0px !important;
}

.manage-roles{ 
	margin: 10px 0px;
	background-color: white;
	padding:10px;
}

.manage-roles select{ 
	min-width: 100px;
	width: 60%;
}

table {
	border-collapse:separate;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ddd;
}

.row h3{
	padding: 0px 30px;
	color: grey;
}

.row table tr{
	border-bottom: 1px solid #efefef;
}

.row table tr:not(:first-child):hover{
	background-color: #f3f3f3;
}

.row table tr th:first-child{
	width: 500px;
}

.row table tr:last-child{
	border-bottom: none;
}

.row .manage-roles tr th{
  padding: 15px;
}

.row .manage-roles tr td{
	padding: 10px;
}

.buttonsrow{
	float: right;
}

.buttonsrow button{
	padding: 10px 30px;
	margin: 5px;
}