.navbar{
	margin-bottom: 0px !important;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: white !important;
}

.navbar-collapse{	
	background-color: white;
}

#notif-button{
	opacity: .5;
	margin-top: 5px;
}

#notif-button:hover{
	opacity: .8;
}

.nav-justified{
	text-transform: uppercase;	
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

.nav-justified li a{
	color: grey;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .7;
	font-weight: 400;
}

.nav-justified li a:hover{
	background-color: rgba(57,70,78,0) !important;
	opacity: 1;
	border-bottom: 3px solid #ccc;	
	border-radius: 0px !important;
}

.nav-pills > li.active > a{
	background-color: rgba(0,0,0,.0) !important;
	color: grey !important;
	border-bottom: 3px solid #232939;
	border-radius: 0px !important;
	opacity: 1;
	font-weight: 600;
}

.row{
	margin: 0px auto !important;
	padding: 0px !important;
}

.roles { 
	margin:10px 0px;
	background-color: white;
}

.role-manage{ 
	margin: 10px 0px;
	background-color: white;
	padding:10px;
}

table {
	border-collapse:separate;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ddd;
}

.saveButton{
    border: 1px solid #ddd;
    float: right;
    background-color: white;
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
}

.saveButton button{
	margin: 0px auto;
	float: right;
	width: 80px;
}


.row .roles td,.row .roles th,.row .role-manage th{
  margin-left: 20px;
  text-align: left;
  padding: 10px 10px;
}

.row h3{
	padding: 0px 30px;
	color: grey;
}

.row table tr{
	border-bottom: 1px solid #efefef;
}

.row table tr:not(:first-child):hover{
	background-color: #f3f3f3;
}

.row table tr:last-child{
	border-bottom: none;
}

.row .roles tr td:nth-child(2){
	width: 40%;
}

.row .roles tr td:nth-child(3),.row .role-manage tr td:nth-child(2){
	width: 5%;
}

.row .role-manage tr td:nth-child(1){
	width: 95%;
}

.row .roles tr td, .row .roles tr th{
  margin-left: 15px !important;
  padding: 9px 10px 9px 30px;
}

.roles .dropdown .btn,.roles .dropdown .btn:active, .roles .dropdown.open .btn, .roles .dropdown.open .btn:focus, .roles .dropdown.open .btn:active{
	color: grey;
	width: 100%;
	border: 1px solid #ddd;
	text-align: left;
	background-color: white;
}

 .roles .dropdown .btn:hover,.roles .dropdown.open .btn:hover{
 	border: 1px solid #bbb;
 }

.roles .dropdown ul li{
	margin: 0px;
}

.roles .dropdown ul li a{
	padding: 8px 20px;
}

.roles .dropdown-menu{
	width: 100%;
	margin-top: 45px;
}

.roles .dropdown-menu:hover{
	border: 1px solid #bbb;
}
.row .roles td button{
	background-color: white;
	border: 1px solid #ddd;
	padding: 10px;
	border-radius: 5px;
	float: right;
}

#info-row:hover  #deleteButton,#infoRowManage:hover  #deleteButtonRole{
	opacity: .2;
	transition-duration: .1s;
}


#deleteButton, #deleteButtonRole{
	background-color: rgba(0,0,0,0);
	border: 0px;
	opacity: 0.1;
	padding: 5px;
	border-radius: 50%;
}

#deleteButton:hover, #deleteButtonRole:hover{
	color: white;
	background-color: #ff4c67;
	opacity: 1 !important;
	transition-duration: .1s;
}


.row .role-manage td{
  margin-left: 10px;
  text-align: left;
  padding: 9px 10px 9px 30px;
}

#addRole, #addUser{
	background-color: grey;
	border: 0px;
	opacity: .3;
	padding: 5px;
	border-radius: 50%;
	float: right;
	color: white;
	-webkit-transition: -webkit-transform .1s;
    -moz-transition: -moz-transform .1s;
    -ms-transition: -ms-transform .1s;
    transition: transform .1s;
}

#addRole:hover, #addUser:hover{
	background-color: #a1f442;
	opacity: 1;
	color: white;
	-webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -ms-transform: scale(1.25);
    transform: scale(1.25);
}
