body{
  height: 100%;
  background-color: grey;
}

.container-fluid{
  background-color: white;
}

#logout {
  margin: 10px 0px 5px 0px;
  padding: 10px 20px;
  border: 1px solid grey;
  border-radius: 3px;
  background-color: #2dad6a;
  color: white;
}

table {
    border-collapse: collapse;
    width: 90%;
    margin: 0px auto;
}

.row th{
  background-color: #d4ecee;
}

.row button{
  padding: 5px 20px;
  border: 1px solid #64bcbc;
  background-color: #d4ecee;
}

.row td,.row th {
  margin-left: 10px;
  border: 1px solid #64bcbc;
  text-align: left;
  padding: 10px;
}

.row tr:not(:first-child):hover{
  background-color: #f7f7f7;
  cursor: pointer;
}

.row table tr td{
  margin-left: 15px !important;
}
