html, body {
  display: table;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: #40AAA6; /* For browsers that do not support gradients */        
  background: -webkit-linear-gradient(90deg, #40AAA6, #5A5476); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(90deg, #40AAA6, #5A5476); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(90deg, #40AAA6, #5A5476); /* For Firefox 3.6 to 15 */
  background: linear-gradient(90deg, #40AAA6, #5A5476); /* Standard syntax (must be last) */
}
body {
  display: table-cell;
}

.box {
  text-align: center;
  margin: 10px auto;
  padding: 25px 50px;
  width: 400px;
  min-height: 115px;
  background: #fff;
  box-shadow: 0 0 20px rgba(0,0,0,.5);
  font-family: Titillium Web, sans-serif;
  color: #666;
}

h3 {
  margin: 0 auto;
  line-height: 40px;
}

.logo img{
  width: 150px;
  margin: 80px auto 20px auto;
  opacity: .7;
  text-align: center;
}

form {
  padding: 0 10px 10px;
}
form::after {
  content: "";
  display: block;
  clear: both;
}

label {
  position: absolute;
  left: -9999px;
}

input {
  margin: 10px !important;
  padding: 10px 5px;
  width: 225px;
  border: 1px solid #ccc;
}

input:focus {
  box-shadow: 0 0 10px rgba(0,0,0,.2);
  border: 1px solid #ddd;
}

#submit {
  padding: 10px 5px; 
  background: #3E5962;
  color: #140;
  color: white;
  transition-duration: .2s;
}

#submit:hover {
  color: #3E5962;
  background: white;
  border-color: #3E5962;
}