.navbar{
  border-radius: 0px;
  margin-bottom: 0px !important;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background-color: white !important;
}

.navbar-collapse{ 
  background-color: white;
}

.container-fluid {
  width: 98%;
    padding-right: 15px !important;
    padding-left: 15px !important;
    margin-right: auto;
    margin-left: auto;
}

.topbar-section{
  width: 98%;
  padding: 10px 0px;
  margin: 10px auto;
  background-color: #f2f3f4;
}

.topbar-section strong{
  font-size: 20px;
}

.topbar-left, .topbar-right{
  padding: 0px;
}

.topbar-section button{
  padding: 10px;
  margin: 5px 20px;
}

.topbar-section p{
  margin: 10px;
}

.progressbar{
  counter-reset: step;
}

.refer-list{
}

table {
  border-collapse: collapse;
  width: 98%;
  margin: 0px auto;    
  border-collapse:separate;
  border: 1px solid #ddd;
  background-color: white;
}

.row th{
  background-color: #5FC0EA;
  color: white;
}

.row td,.row th {
  margin-left: 10px;
  text-align: left;
  padding: 15px;
}

.row tr:not(:first-child):hover{
  background-color: #f7f7f7;
  cursor: pointer;
}

.row table tr td{
  margin-left: 15px !important;
}

.points-row small{
  font-size: 16px;
}

.points-row p{
  font-size: 26px;
}

.points-row strong{
  color: #307A11;
}


