.navbar{
  border-radius: 0px;
  margin-bottom: 0px !important;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background-color: white !important;
}

.navbar-collapse{ 
  background-color: white;
}

.row{
  margin: 0px auto !important;
  padding: 0px !important;
}


.topbar-section{
  width: 98%;
  padding: 10px 0px;
  margin: 10px auto;
  background-color: #f2f3f4;
}

.topbar-section strong{
  font-size: 20px;
}

.topbar-left{
  padding: 0px;
}

.topbar-section button{
  padding: 10px;
  margin: 5px 20px;
}

.topbar-section p{
  margin: 10px;
}

.progressbar{
  counter-reset: step;
}

.refer-list{
  margin-top: 20px;
}

.refer-list h3{
  padding: 0px 20px;
  color: grey;
}

table {
  border-collapse: collapse;
  width: 98%;
  margin: 0px auto;    
  border-collapse:separate;
  margin: 20px auto;
  border: 1px solid #ddd;
  background-color: white;
  }

.row th{
  background-color: #F2F3F4;
}

.row td,.row th {
  margin-left: 10px;
  text-align: left;
  padding: 15px;
}

.row tr:not(:first-child):hover{
  background-color: #f7f7f7;
  cursor: pointer;
}

.row table tr td{
  margin-left: 15px !important;
}

.refer-list select{
  min-width: 100px;
}

#saveButton{
  background-color: rgba(0,0,0,0);
  border: 0px;
  opacity: 0.1;
  padding: 8px;
  border-radius: 50%;
  text-align: left;
}

#saveButton:hover{
  color: white;
  opacity: 1 !important;
  -moz-transition: background-color 350ms ease;
  -ms-transition: background-color 350ms ease;
  -o-transition: background-color 350ms ease;
  transition: background-color 350ms ease;
}

table tr:hover  #saveButton{
  opacity: .5;
  background-color: #87C540;
  color: white;
  -moz-transition: opacity 350ms ease;
  -ms-transition: opacity 350ms ease;
  -o-transition: opacity 350ms ease;
  transition: opacity 350ms ease;
}