body{
  background-color: red;
  background:url("img/login.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
}

.left-section{
	position: relative;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.left-section h1{
	width: 50%;
	text-align: left;
	margin: 30px 0px 0px 50px;
	font-size: 50px;
	font-family: 'Poiret One', cursive;
	font-weight: lighter;
	color: white;
}

.left-section p{
	width: 40%;
	text-align: left;
	margin: 30px 0px 0px 50px;
	opacity: .3;
	font-size: 20px;
	font-family: Titillium Web;
	font-weight: lighter;
	color: white;
}

.left-section button{
	background-color: rgba(0,0,0,0);
	border-radius: 5px;
	border: 2px solid white;
	padding: 10px;
	color: white;
	text-decoration: none;
	font-family: Titillium Web;
	margin: 30px 0px 50px 50px;
}

.left-section button:hover{
	background-color: white;
	color: #010301;
	transition-duration: .2s;
}

img.fit {
    max-width: 99.99%;
    max-height: 99.99%;
}

.row{
	width: 100%;
	margin: 0px !important;
}

.right-section{
	width: 100%;
	height: 100vh;
	background-color: white;
	padding: 0px !important;
}

.right-section h3{
	margin: 120px auto 30px auto;
	width: 80%;
	color: #307A11;
	font-family: Titillium Web;
	text-align: center;
	padding: 20px;
}

.right-section img{
	display: none;
}

.left-section img{
	margin: 80px 0px 0px 50px;
	width: 150px;
	opacity: .9;
}

.right-section .form input:not(:last-child){
	width: 80%;
	margin: 15px auto;
	border: none;
	padding: 5px 10px;
	color: grey;
	border-bottom: 1px solid #bbb;
}

.right-section .form input:last-child{
	background-color: #307A11;
	border-radius: 5px;
	border: 2px solid white;
	padding: 10px 100px;
	color: white;
	margin: 25px;
	text-decoration: none;
	font-family: Titillium Web;
}

.right-section .form input:last-child:hover{
	background-color: white;
	color: #307A11;
	border: 2px solid #307A11;
	transition-duration: .2s;
}

.right-section .form input:not(:last-child):focus{
	border-bottom: 3px solid #307A11;
}

.form{
	text-align: center;
}

.right-section a{
	text-decoration: none;
	color: #333;
	text-align: center;
	opacity: .4;
	padding: 20px;
}

@-webkit-keyframes fade{
  0%   { opacity: 0;}
  100% { opacity: 1 ;}
}

@-moz-keyframes fade{
  0%   { opacity: 0;}
  100% { opacity: 1 ;}
}

@keyframes fade{
  0%   { opacity: 0;}
  100% { opacity: 1 ;}
}

@media only screen and (max-width: 750px) {
  .left-section{
   display: none;
}
}

@media only screen and (max-width: 750px) {
  .right-section h3{
  	margin-top: 20px;
	font-family: Titillium Web;
	text-align: center;
	padding: 10px;
}
}

@media only screen and (max-width: 750px) {
  .right-section img{
  	display: contents;
  	text-align: center;
	margin: 20px auto 0px auto;
	width: 100px;
}
}

@media only screen and (max-width: 750px) {
  .right-section .form input:not(:last-child){
  	width: 75%;
}
}

.modal-body input{
	background-color: rgba(0,0,0,0);
	width: 300px;
	padding: 7px 10px;
	border: 1px solid #ddd;
}

.modal-body input:focus{
	border: 1px solid #333;
}

.modal-body button{
	margin: 10px;
	padding: 10px 20px;
}