body{
  background-color: red;
  background:url("img/bg.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.navbar{
  border-radius: 0px;
  margin-bottom: 0px !important;
  box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
  background-color: white !important;
}

.navbar-collapse{ 
  background-color: white;
}

.container-fluid .jumbotron{
  background-color: rgba(0,0,0,0);
  text-align: center;
  color: white;
  width: 50%;
  margin: 0px auto;
  padding-bottom: 20px;
}

.row{
  margin: 0px auto !important;
  padding: 0px !important;
}


.container-fluid .jumbotron h1{
  padding: 15px 0px;
  border: 2px dashed #f28859;
  font-size: 4em;
  color: #ccb8af;
}

.container-fluid .jumbotron p{
  font-size: 1.4em;
}

@media only screen and (max-width: 550px) {
  .container-fluid .jumbotron{
    width: 100%;
}
}

@media only screen and (max-width: 550px) {
  .share-links{
    width: 100%;
}
}

.share-links{
  text-align: center;
  color: white;
  margin: 10px auto 20px auto;
  width: 50%;
  height: 100px;
  position: relative;
  padding: 0px;
  text-align: justify;
  list-style-type: none;
}

.share-links li {
  width: auto;
  display: inline-block;
  width: 72px;
  height: 72px;
  border: 2px solid white;
  border-radius: 100%;
  margin: 10px 20px;
  position: relative;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .share-links{
    width: 90%;
}
}

@media only screen and (max-width: 650px) {
  .share-links li{
    width: auto;
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 2px solid white;
    border-radius: 100%;
    margin: 10px 0px;
    position: relative;
    text-align: center;
}
}

@media only screen and (max-width: 650px) {
  .share-links a i{
  font-size: 22px !important;
  line-height: 42px !important;
  color: white;
}
}

.share-links a i{
  font-size: 40px;
  line-height: 70px;
  color: white;
}

.share-links #fb:hover{
  background-color: #4E71A8;
  border: 2px solid #4E71A8;
  transition-duration: .2s;
}

.share-links #fb:hover > i{
  color: #2b4266;
  transition-duration: .2s;
}

.share-links #gmail:hover{
  background-color: #E3411F;
  border: 2px solid #E3411F;
  transition-duration: .2s;
}

.share-links #gmail:hover > i{
  color: #ffbfb2;
  transition-duration: .2s;
}

.share-links #whatsapp:hover{
  background-color: #55C863;
  border: 2px solid #55C863;
  transition-duration: .2s;
}

.share-links #whatsapp:hover > i{
  color: #2a7f34;
  transition-duration: .2s;
}

.share-links #twitter:hover{
  background-color: #28AAE1;
  border: 2px solid #28AAE1;
  transition-duration: .2s;
}

.share-links #twitter:hover > i{
  color: #2a7291;
  transition-duration: .2s;
}

.share-links #linkedin:hover{
  background-color: #1686B0;
  border: 2px solid #1686B0;
  transition-duration: .2s;
}

.share-links #linkedin:hover > i{
  color: #3dc2f4;
  transition-duration: .2s;
}

.share-links li.filler {
  width:100%;
  height: 0;
  font-size: 0;
  vertical-align: top;
  opacity: 0;
}

.refer-form{
  width: 95%;
  text-align: center;
  background-color: rgba(0,0,0,.6);
}

.form-wrap{
  padding: 10px 50px;
  margin: 0px 20px;
}

.form-wrap input{
  width: 30%;
  background-color: rgba(0,0,0,.7);
  margin: 10px;
  padding: 8px;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

@media only screen and (max-width: 650px) {
  .form-wrap input{
  width: 80%;
  color: white;
  margin: 8px 0px;
  padding: 10px 10px;
}
}

@media only screen and (max-width: 650px) {
  .form-wrap{
  padding: 10px 5px;
}
}

@media only screen and (max-width: 650px) {
  .form-wrap input:last-child{
  width: 80%;
}
}

.form-wrap input:last-child{
  width: 20%;
  margin: 10px;
  padding: 8px;
  border: 2px solid #1c5423;
  border-radius: 5px;
  background-color: #2A7F34;
}

@media only screen and (max-width: 650px) {
  .form-wrap input:last-child{
  width: 80% !important;
}
}

.form-wrap input:last-child:hover{
  border: 2px solid white;
  transition-duration: .2s;
  background-color: rgba(0,0,0,0);
}

.share-link-row{
  border-top: 1px solid #050201;
  width: 95%;
  text-align: center;
  background-color: rgba(0,0,0,.6);
}