html, body
{
  height: 100%;
}

.container{
	width: 100% !important;
	padding: 0px !important;
}

.navbar{
	margin-bottom: 0px !important;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: white !important;
}

.navbar-collapse{	
	background-color: white;
}

#notif-button{
	opacity: .5;
	margin-top: 5px;
}

#notif-button:hover{
	opacity: .8;
}

.nav-justified{
	text-transform: uppercase;	
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

.nav-justified li a{
	color: grey;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .7;
	font-weight: 400;
}

.nav-justified li a:hover{
	background-color: rgba(57,70,78,0) !important;
	opacity: 1;
	border-bottom: 3px solid #ccc;	
	border-radius: 0px !important;
}

.nav-pills > li.active > a{
	background-color: rgba(0,0,0,.0) !important;
	color: grey !important;
	border-bottom: 3px solid #232939;
	border-radius: 0px !important;
	opacity: 1;
	font-weight: 600;
}

.row{
	margin: 0px auto !important;
	padding: 0px !important;
}

.lead-add-table {
	padding: 0px !important;
	width: 97%;
	border-collapse:separate;
    margin: 20px auto;
    border: 1px solid #ddd;
    background-color: white;
}

.lead-add-table table{
	width: 100%;
}


.table-header{
	background-color: #e5e5e5;
	color: grey;
	text-align: left;
	font-size: 16px;
	padding: 15px 20px;
}

.lead-add-table tr td{
	text-align: left;
	padding: 10px 10px;
	color: grey;
}

.info-label{
	width: 300px;
}

.info-label-wrap{
	text-align: right;
	margin-top: -3px;
}

.info-data{
	width: 400px;
}

.info-data-input{
	width: 100%;
	border: 1px solid #ddd;
	height: 30px;
}

.info-data-select{
	width: 100%;
	border: 1px solid #ddd;
	height: 30px;
}

.info-data-textarea{
	width: 100%;
	resize: none;
	border: 1px solid #ddd;
	height: 70px;
}


.info-data-input:focus{
	border: 1px solid #aaa;
	background-color: #F6F6F6;
}

#deleteButton{
	background-color: rgba(0,0,0,0);
	border: 0px;
	opacity: 0.1;
	padding: 5px;
	border-radius: 50%;
	text-align: left;
}

#deleteButton:hover{
	color: white;
	background-color: #ff4c67;
	opacity: 1 !important;
	-moz-transition: background-color 350ms ease;
	-ms-transition: background-color 350ms ease;
	-o-transition: background-color 350ms ease;
	transition: background-color 350ms ease;
}

#lead-add-row:hover  #deleteButton{
	opacity: .5;
	-moz-transition: opacity 350ms ease;
	-ms-transition: opacity 350ms ease;
	-o-transition: opacity 350ms ease;
	transition: opacity 350ms ease;
}

.lead-add-row:hover{
	background-color: #F7F7F7;
	-moz-transition: background-color 350ms ease;
	-ms-transition: background-color 350ms ease;
	-o-transition: background-color 350ms ease;
	transition: background-color 350ms ease;
}

.table-footer{
	text-align: center;
	border-top: 1px solid #ddd;
	padding: 10px;
	margin-top: 10px;
}

.table-footer input{
	padding: 10px 30px;
	margin: 0px 10px;
	color: white;
	border-radius: 5px;
}