html, body
{
  height: 100%;
}

.container{
	width: 100% !important;
	padding: 0px !important;
}

.navbar{
	margin-bottom: 0px !important;
	box-shadow: 0 0 5px rgba(57,70,78,.2);
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:focus, .navbar-default .navbar-nav > .open > a:hover{
	background-color: white !important;
}

.navbar-collapse{	
	background-color: white;
}

#notif-button{
	opacity: .5;
	margin-top: 5px;
}

#notif-button:hover{
	opacity: .8;
}

.nav-justified{
	text-transform: uppercase;	
	background-color: white;
	border-bottom: 1px solid #dddddd;
}

.nav-justified li a{
	color: grey;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: .7;
	font-weight: 400;
}

.nav-justified li a:hover{
	background-color: rgba(57,70,78,0) !important;
	opacity: 1;
	border-bottom: 3px solid #ccc;	
	border-radius: 0px !important;
}

.nav-pills > li.active > a{
	background-color: rgba(0,0,0,.0) !important;
	color: grey !important;
	border-bottom: 3px solid #232939;
	border-radius: 0px !important;
	opacity: 1;
	font-weight: 600;
}

.row{
	margin: 0px auto !important;
	padding: 0px !important;
}

.customer-info{
	height: 450px;
	width: 100%;
	overflow-y: auto;
	overflow-x: auto;
}


.customer-info table {
	overflow-y: auto;
	overflow-x: hidden;
	border-collapse:separate;
    width: 100%;
    margin: 0px auto;
    border: 1px solid #ddd;
    background-color: white;
}

.customer-info .info-table th{
	height: 30px;
	text-align: left;
	padding: 20px 10px;
	font-size: 12px;
	color: grey;
	border-bottom: 1px solid #ddd;
	text-transform: uppercase;
}

.customer-info .info-table td{
  text-align: left;
  padding: 15px 10px;
  border-bottom: 1px solid #ddd;
}

.customer-info table tr{
	border-bottom: 1px solid #efefef;
}

.customer-info table tr:not(:first-child):hover{
	background-color: #EBF2F7;
}
.customer-info table tr:last-child{
	border-bottom: none;
}

.customer-info table tr td{
  margin-left: 15px !important;
}

#addLead, #moreOptions{
	background-color: #5fc0ea;
	padding: 8px 25px;
	border: none;
	border-radius: 5px;
	margin: 8px 15px 8px 0px;
	color: white;
	float: right;
	transition-duration: .2s;
}

#addLead:hover, #moreOptions:hover{
	background-color: #50afd8;
}

@media only screen and (max-width: 750px) {
  #addLead, #moreOptions{
    width: 100%;
    margin: 0px auto 10px auto;
}
}

.progressbar{
	margin-top: -10px;
	height: 15px;
}

.progressbar ul{
	height: 15px;
	margin: 0px auto;
	padding: 0px;
}

.progressbar ul li{
	list-style-type: none;
	float: left;
	text-align: center;
	position: relative;
	width: 11.11%;
	color: grey;
	font-size: 12px;
	line-height: 14px;
}

.progressbar ul li.done{
	color: #bbb;
}

.progressbar ul li.active{
	color: #5fc0ea;
	font-weight: 700;
}

.progressbar ul li:before{
	content: '';
	font-size: 22px;
	color: #bbb;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: block;
	text-align: center;
	background-color: #efefef;
}

.progressbar ul li.done:before{
	border: 3px solid #80DBB0;
	background-color: #80DBB0;
}

.progressbar ul li.active:before{
	border: 3px solid #5fc0ea;
	background-color: #5fc0ea;
}

.progressbar ul li.done:after{
	background-color: #80DBB0;
}

.progressbar ul li.active:after{
	background-color: #80DBB0;
	border:none;
	border-top: 5px dotted #5fc0ea;
	background-color:rgba(0,0,0,0);
}

.progressbar ul li:first-child:after{
	content: none;
}

#moreOptions{
	color: grey;
	background-color: white;
	padding: 10px;
	top: 0;
	border-radius: 5px;
	border: 1px solid #ddd;
}

#moreOptions:hover{
	color: white;
	background-color: #5FC0EA;
	border: 1px solid #5FC0EA;
}